<h1>All Actors</h1>

<form action="/insert_actor" method="post">
  <label for="name_field">Name</label>
  <input id="name_field" name="query_name" type="text">

  <label for="image_field">Image</label>
  <input id="image_field" name="query_image" type="text">

  <button>Create actor</button>
</form>

<ul>
  <% @actors.each do |actor| %>
    <li>
      <%= actor.name %> —
      <a href="/actors/<%= actor.id %>">Show details</a>
    </li>
  <% end %>
</ul>
